* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --greyish_blue: rgb(238, 238, 238);
  --orange: rgb(255, 140, 0);
  --yellow: rgb(241, 196, 15);
  --light_grey: rgb(221, 221, 221);
}

.container {
  background-color: var(--greyish_blue);
}

