* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --greyish_blue: rgb(238, 238, 238);
  --orange: rgb(255, 140, 0);
  --yellow: rgb(241, 196, 15);
  --light_grey: rgb(221, 221, 221);
}

.container {
  background-color: var(--greyish_blue);
}

.navbar_section {
  background-color: var(--greyish_blue);
  display: flex;
  position: fixed;
  width: 100%;
}

.navbar_section img{
  display: flex;
  width: 380px;
  padding: 20px 40px;

}

.image_section{
  width: 55%;
}

.link_section{
  width: 45%;
}

.navbar_section ul{
  display: flex;
  justify-content: right;
  padding: 30px 40px;
  list-style: none;
}

.navbar_section li{
  flex: 1;
  text-align: center;
}

a:link, a:hover, a:active, a:visited{
  text-decoration: none;
  color: black;
}

.submit_email_section{
  padding: 80px 0 0 0;
  text-align: center;
}

.submit_email_section input{
  margin: 20px 0;
  width: 300px;
}

.icon_section{
  border: 2px solid red;
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}
